<div>
    <div class="drive-title float-clearfix">
        <h3 class="float-left">
            Drive List
        </h3>
        <div class="float-right">
            <button ng-click="refresh()" class="md-button md-ink-ripple">Refresh</button>
            <button ng-click="export()" class="md-button md-ink-ripple">Export</button>
        </div>
    </div>
    <div>
        <div class="custom-csv-link-location">
            <span class="ui-grid-exporter-csv-link">&nbsp</span>
        </div>
        <div id="candidate-drive-grid" ui-grid="grid"
             ui-grid-auto-fit-columns
             ui-grid-selection
             ui-grid-resize-columns
             ui-grid-exporter
             ui-grid-move-columns
             class="dashboard-ui-grid"></div>
    </div>
    <candidate></candidate>
</div>