<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Candidate</h4>
            </div>
            <div class="modal-body">

                <form class="candidate-form form-horizontal">
                    <div class="hd">Candidate details</div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="firstname" class="col-sm-4 control-label">First name</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="[candidate][id][firstname]" class="form-control"
                                               id="firstname" placeholder="First name" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="lastname" class="col-sm-4 control-label">Last name</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="[candidate][id][lastname]" class="form-control"
                                               id="lastname" placeholder="Last name">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="email" class="col-sm-4 control-label">Email</label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control" id="email" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="phone" class="col-sm-4 control-label">Phone</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="phone" placeholder="Phone">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="stream" class="col-sm-4 control-label">Stream</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="stream" placeholder="stream">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="role" class="col-sm-4 control-label">Role</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="role" placeholder="Role">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hd row">Drive Details</div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="drive" class="col-sm-4 control-label">Drive</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="drive" placeholder="Drive">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="participated" class="col-sm-4 control-label">Participated</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="participated" placeholder="Participated">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hd row">Tests Details</div>
                        <div class="row sub-hd">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label"></label>
                                    <div class="col-sm-8">
                                        Participated
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="col-sm-12 control-label">Score</label>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="col-sm-12 control-label">Status</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="participated1" class="col-sm-4 control-label test-name">Mettl</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="participated1" placeholder="Participated">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="score1" class="col-sm-4 control-label"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="score1" placeholder="Score">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="status1" class="col-sm-4 control-label"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="status1" placeholder="Status">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="participated1" class="col-sm-4 control-label test-name">Mini PG</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="participated1" placeholder="Participated">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="score1" class="col-sm-4 control-label"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="score1" placeholder="Score">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="status1" class="col-sm-4 control-label"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="status1" placeholder="Status">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="participated1" class="col-sm-4 control-label test-name">PG</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="participated1" placeholder="Participated">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="score1" class="col-sm-4 control-label"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="score1" placeholder="Score">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="status1" class="col-sm-4 control-label"></label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="status1" placeholder="Status">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hd row">Hiring status</div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="hiring-status" class="col-sm-4 control-label">Status</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="hiring-status" placeholder="Status">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="comment" class="col-sm-4 control-label">Comment</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" rows="3" id="comment" placeholder="Comment"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="save()" class="btn btn-default" data-dismiss="modal">Save</button>
                <button type="button" ng-click="cancel()" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>