<md-dialog aria-label="Candidate">
    <form name="candidateForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Candidate</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon mmd-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog">&times;</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style1="max-width:800px;max-height:810px;">
            <md-content class="layout-padding _md">
                <div class="hd">Candidate details</div>
                <md-divider></md-divider>
                <div layout="row">
                    <md-input-container flex="50">
                        <label>First name</label>
                        <input required name="firstname" ng-model="candidateFormData.candidate.firstname">
                        <div ng-messages="candidateForm.firstname.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container flex="50">
                        <label>Last name</label>
                        <input name="lastname" ng-model="candidateFormData.candidate.lastname">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="50">
                        <label>Email Id</label>
                        <input required type="email" name="email" ng-model="candidateFormData.candidate.email"
                               minlength="6" maxlength="30"
                               ng-pattern="/\S+@\S+\.\S+/"/>

                        <div ng-messages="candidateForm.email.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Your email must be between 6 and 30 characters long and look like an e-mail address.
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container flex="50">
                        <label>Phone</label>
                        <input name="phone" ng-model="candidateFormData.candidate.phone">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="50">
                        <label>Stream</label>
                        <md-select name="stream" ng-model="candidateFormData.candidate.stream">
                            <md-option ng-value="stream" ng-repeat="stream in data.metaInfo.streams">
                                <span>{{stream}}</span>
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>Role</label>
                        <md-select name="role" ng-model="candidateFormData.candidate.role">
                            <md-option ng-value="role" ng-repeat="role in data.metaInfo.roles"><span>{{role}}</span>
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div class="hd">Drive details</div>
                <md-divider></md-divider>
                <div layout="row">
                    <md-input-container flex="50">
                        <label>Drive</label>
                        <md-select name="drive" ng-model="candidateFormData.drive.id">
                            <md-option ng-value="drive.id" ng-repeat="drive in data.drives">
                                <span>{{drive.name}}</span>
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex="50">
                        <label>Participated</label>
                        <md-select name="drive-participated" ng-model="candidateFormData.drive.participated">
                            <md-option ng-value="p" ng-repeat="p in data.metaInfo.participated">
                                <span>{{p}}</span>
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div class="hd">Tests details</div>
                <md-divider></md-divider>
                <!--<div layout="row">-->
                <!--<md-content flex="10"></md-content>-->
                <!--<md-content flex="30">Participated</md-content>-->
                <!--<md-content flex="30">Score</md-content>-->
                <!--<md-content flex="30">Status</md-content>-->
                <!--</div>-->
                <div layout="row">
                    <md-content flex="10">Mettl</md-content>
                    <md-input-container flex="30">
                        <label>Participated</label>
                        <md-select name="test0-participated" ng-model="candidateFormData.tests[0].participated">
                            <md-option ng-value="p" ng-repeat="p in data.metaInfo.participated">
                                <span>{{p}}</span>
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="30">
                        <label>Score</label>
                        <input name="test0-score" ng-model="candidateFormData.tests[0].score">
                    </md-input-container>
                    <md-input-container flex="30">
                        <label>Status</label>
                        <md-select name="test0-status" ng-model="candidateFormData.tests[0].status">
                            <md-option ng-value="s" ng-repeat="s in data.metaInfo.status">
                                <span>{{s}}</span>
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-content flex="10">Mini PG</md-content>
                    <md-input-container flex="30">
                        <label>Participated</label>
                        <md-select name="test1-participated" ng-model="candidateFormData.tests[1].participated">
                            <md-option ng-value="p" ng-repeat="p in data.metaInfo.participated">
                                <span>{{p}}</span>
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="30">
                        <label>Score</label>
                        <input name="test1-score" ng-model="candidateFormData.tests[1].score">
                    </md-input-container>
                    <md-input-container flex="30">
                        <label>Status</label>
                        <md-select name="test1-status" ng-model="candidateFormData.tests[1].status">
                            <md-option ng-value="s" ng-repeat="s in data.metaInfo.status">
                                <span>{{s}}</span>
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-content flex="10">PG</md-content>
                    <md-input-container flex="30">
                        <label>Participated</label>
                        <md-select name="test2-participated" ng-model="candidateFormData.tests[2].participated">
                            <md-option ng-value="p" ng-repeat="p in data.metaInfo.participated">
                                <span>{{p}}</span>
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="30">
                        <label>Score</label>
                        <input name="test2-score" ng-model="candidateFormData.tests[2].score">
                    </md-input-container>
                    <md-input-container flex="30">
                        <label>Status</label>
                        <md-select name="test2-status" ng-model="candidateFormData.tests[2].status">
                            <md-option ng-value="s" ng-repeat="s in data.metaInfo.status">
                                <span>{{s}}</span>
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>


                <div class="hd">Hiring status</div>
                <md-divider></md-divider>
                <div layout="row">
                    <md-input-container flex="50">
                        <label>Status</label>
                        <md-select name="hiring-status" ng-model="candidateFormData.hiringStatus.status">
                            <md-option ng-value="s" ng-repeat="s in data.metaInfo.hiringStatus"><span>{{s}}</span></md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex="50">
                        <label>Comment</label>
                        <textarea name="hiring-comment" row="3" ng-model="candidateFormData.hiringStatus.comment"></textarea>
                    </md-input-container>
                </div>

            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="save()">
                Save
            </md-button>
            <md-button ng-click="cancel()" style="margin-right:20px;">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>